nav {
    width: 100%;    
    background: skyblue;
    height: 75px;
    line-height: 75px;
    border: 1px solid #333;
}

aside {
    background: teal;
    height: 150px;
    line-height: 150px;
    border: 1px solid #333;
}

article {
    height: 150px;
    line-height: 150px;
    background: seagreen;
    border: 1px solid #333;
}

figure {
    height: 250px;
    line-height: 250px;
    width: 50%;
    background: lightcoral;
    border: 1px solid #333;
    float: left;
}

footer {
    clear: both;
    height: 80px;
    line-height: 80px;
    background: rgb(0, 117, 98);
}

@media (min-width: 768px){
    nav{
        height: 100px;
    }
    aside {
        float: left;
        height: 600px;
        width: 20.083%;
    }
    article {
        height: 200px;
        float: left;
        width: 39.9585%;
    }
    figure {
        width: 19.979%;
        height: 250px;
    }
    footer {
        clear: both;        
        height: 150px;
        display: inline-block;
        width: 79.917%;
        /* float: left; */
    }
}